<p>home works!</p>

<form [formGroup]="mealForm" (ngSubmit)="send()">
  <mat-form-field appearance="outline" class="">
    <mat-label>Meal</mat-label>
    <input matInput type="text" formControlName="mealSearch" />
  </mat-form-field>

  <button
    mat-raised-button
    type="submit"
    color="primary"
    >
    <!-- [ngClass]="showTouched ? 'btn-select' : 'btn-unselect'" -->
    Search
  </button>
</form>

<!-- categorias -->

<!-- componente de visualizacion -->
<div *ngFor="let meal of meals">
  <app-card-meal [name]="meal.strMeal" [img]="meal.strMealThumb" [category]="meal.strCategory"></app-card-meal>
</div>
